[Desktop Entry]
Icon=application-pdf
Name=Current_Year_Account_Statement_12013720.pdf
Type=Link
URL[$e]=file:$HOME/Downloads/Current_Year_Account_Statement_12013720.pdf
X-KDE-LastOpenedWith=okularApplication_pdf
