[Desktop Entry]
Icon=application-x-shellscript
Name=mountMain.sh
Type=Link
URL[$e]=file:$HOME/Documents/mountMain.sh
X-KDE-LastOpenedWith=org.kde.kate
