[Desktop Entry]
Icon=text-plain
Name=Time.txt
Type=Link
URL[$e]=file:///run/media/akshay/Hard Drive/Manjaro Backup July 2022/Home/Desktop/Time.txt
X-KDE-LastOpenedWith=org.kde.kate
