[Desktop Entry]
Icon=ocs-url
Name=
Type=Link
URL[$e]=ocs://install?url=https%3A%2F%2Fdl2.pling.com%2Fapi%2Ffiles%2Fdownload%2Fj%2FeyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6MTY1ODIwODY0NSwidSI6bnVsbCwibHQiOiJpbnN0YWxsIiwicyI6IjdlNGY0OWUxYjljNzVmNDdlZTkzMDkzNjE1NjY3NTNmYTIwMjAyNzFjNmZjNTAxZGEyNDdiOGQzZjg3ZTdmZGIyZmY1MzNhZmU5NDMzOWUyMTIyYTBlMzU0YWYyMWZhMzBkMjU0ZGU0OTA2MDUyMWVjNWVlMDgzZDVjNDY3ZThlIiwidCI6MTY1ODY1Mzc4Niwic3RmcCI6IjE4MmZkYmQ4NDZmODNmNjE4MDZkNjMwYmMzNjY1MDkxIiwic3RpcCI6IjExNy4yMTAuMjA1LjczIn0.puh3E8xp41Oh43WE9Ocaxed0buzdUNkDGVSmPLq5PkM%2Fcompact-shutdown-new.plasmoid&type=plasma5_plasmoids&filename=compact-shutdown-new.plasmoid
X-KDE-LastOpenedWith=ocs-url
