[Desktop Entry]
Icon=ocs-url
Name=
Type=Link
URL[$e]=ocs://install?url=https%3A%2F%2Fdl2.pling.com%2Fapi%2Ffiles%2Fdownload%2Fj%2FeyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6MTY1Mjk3MjIxNywidSI6bnVsbCwibHQiOiJpbnN0YWxsIiwicyI6ImEyNjQwN2Y5NGFhOTRjZjA2ZjFjMWVkZjQ4NmUzMmIwM2EzOTQwOGE5ODFjNTQ2MGRmNTllZGQ2MDhlN2U1OGYxOGIyMzAwNzBlYTAxYTZmMWY3ZmIzMDkzNWZmMzlhNDY4YmM0ODZhMzc5MGNiNDQ1ODc4YzU5NmU2ZDA2MjE4IiwidCI6MTY1ODY1MzgyMSwic3RmcCI6IjE4MmZkYmQ4NDZmODNmNjE4MDZkNjMwYmMzNjY1MDkxIiwic3RpcCI6IjExNy4yMTAuMjA1LjczIn0.ZxNKGyW4jKnIJf5BL0l59uKlsPNJEwTlQIEcXZGhcFg%2Fmodernclock-0.2.0.tar.gz&type=plasma5_plasmoids&filename=modernclock-0.2.0.tar.gz
X-KDE-LastOpenedWith=ocs-url
